[submodule "keyboard/hhkb/tmk_core"]
	path = keyboard/hhkb/tmk_core
	url = https://github.com/kevinmost/tmk_cores.git
	branch = master
[submodule "keyboard/infinity_chibios/tmk_core"]
	path = keyboard/infinity_chibios/tmk_core
	url = https://github.com/kevinmost/tmk_cores.git
	branch = masterWithEarlierChibiosMkAndKinetisChibios
