# HHKB
#
# lol I don't know. This board is hasu's baby, I trust that he has TMK
# working flawlessly on it... if it ain't broke...
[submodule "keyboard/hhkb/tmk_core"]
    path = keyboard/hhkb/tmk_core
    url = https://github.com/kevinmost/tmk_cores.git
    branch = master

# Infinity
#
# The Infinity needs the special Kinetis branch of ChibiOS,
# and since the Kinetis branch has an older .mk file layout,
# we need an older version of chibios.mk in TMK
[submodule "keyboard/infinity_chibios/tmk_core"]
    path = keyboard/infinity_chibios/tmk_core
    url = https://github.com/kevinmost/tmk_cores.git
    branch = masterWithEarlierChibiosMkAndKinetisChibios

# WhiteFox
#
# The WhiteFox repos have a special layout that takes three special dirs:
# 1) TMK *without* any ChibiOS stuff inside of it
# 2) ChibiOS
# 3) libs for ChibiOS
# This is a little unorthodox but actually more modular, so I'm not complaining
# Now we can specify the exact version we want for TMK + ChibiOS from here
[submodule "keyboard/whitefox/tmk_core"]
    path = keyboard/whitefox/tmk_core
    url = https://github.com/tmk/tmk_core.git
    branch = master
[submodule "keyboard/whitefox/chibios"]
	path = keyboard/whitefox/chibios
	url = https://github.com/ChibiOS/ChibiOS
    branch = master
[submodule "keyboard/whitefox/chibios-contrib"]
	path = keyboard/whitefox/chibios-contrib
	url = https://github.com/ChibiOS/ChibiOS-Contrib
    branch = master

# Planck
#
# The Planck uses QMK, which Jack officially supports, so we can just
# point at his master branch
[submodule "keyboard/planck/tmk_core"]
	path = keyboard/planck/tmk_core
	url = https://github.com/jackhumbert/qmk_firmware
	branch = master
